<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: blueviolet;
            }
            h1, b, p, a{
                margin-left: 50px;
                height: 30px;
                gap: 30px;
            }
h1{
    margin-left: 300px;
}
        </style>
    </head>
    <body>
        <h1>
            Profile page
        </h1>
        <b>Welcome</b>
        <p><%=data.email%></p>
        <a href="/auth/login">Log out</a>
    </body>
</html>